* GENERAL TAGS CSS */
header {
    display: flex;
    height: 68px;
    align-items: center;
    padding: 10px 50px;
}
p {
    margin: 0 !important;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    display: inline-block;
    padding-right: 40px; 
}

li:last-child {
    padding-right: 0;
}

a {
    display: inline-block;
    color: inherit;
    vertical-align: middle;
    color: #000000   !important;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

/* NAVIGATION SECTION CSS */
nav {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 1.5px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.left_side_nav {
    flex: 1;
}

.right_side_nav {
    flex: 1;
    text-align: right;
    
}

.cart_img {
    padding-right: 50px;
    cursor: pointer;
}

.cart_item_number {
    position: absolute;
    top: -5;
    right: -5;
    background-color: #DDA74A;
    border-radius: 500px;
    border: 1px solid #FFFFFF;
    color: white;
}
.cart_list_item {
    position: relative;
    line-height: 14px;
}

/* GET STARTED SECTION CSS */
#get_started_section {
    background-size: cover;
    background-image: url('../assets/images/Kitchen_3.png');
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 85px;
    border-radius: 14px;
    opacity: 1;
    @media (max-width: 768px) {
        padding-left: 0;
}
}

#get_started_section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: auto 0;
    gap: 14px;
    max-width: 407px;
    @media (max-width: 768px) {
        padding-left: 60px;
}
}

#get_started_section_title {
    font-family: 'Bentham', serif;
    font-weight: 900;
    font-size: 56px;
    line-height: 62px;
    color: #FFFAFA;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

#get_started_section_text {
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFAFA;
    opacity: 1;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;

}

#get_started_button {
    font-family: 'Josefin Sans', sans-serif;
    padding: 16px 40px 15px 40px;
    font-weight: bolder;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 1.95px;
    color: #004A4C;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 10px;
}

/* SHOP NOW SECTION CSS */
#shop_now_section_wrapper{
    width: 100%;
}

#shop_now_section {
    background-size: cover;
    background-image: url('../assets/images/Mask\ Group\ 12.png');
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 1;
    padding-right: 140px;
    @media (max-width: 768px) {
        padding-right: 0;
}
}

#shop_now_section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin:auto 0 auto auto;
    gap: 42px;
    max-width: 565px;
}

#shop_now_section_text_container {
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column; 
    gap: 8px; 
    width: 100%;
}

#shop_now_section_description_container {
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column; 
    gap: 35px; 
    width: 100%;
}

.product_description {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    justify-content: flex-start;

}

.product_description_text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
    color: #002D33;
    opacity: 1;
}

#cover_product_name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #002D33;
    text-align: left;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    opacity: 1;
}

#shop_now_title {
    font-family: 'Bentham', serif;
    font-size: 36px;
    font-weight: bolder;
    line-height: 44px;
    color: #002D33;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 4px;
}

#shop_now_text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #002D33;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

#shop_now_btn {
    color: #FFFAFA;
    background-color: #004A4C;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    line-height: 20px;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    margin-top: 3px;
    text-align: center;
    padding: 16px 40px 15px 40px;
}

/* THREE PICTURE SECTION CSS */
#three_picture_section {
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 20px;
    margin-top: 60px;
}

#three_picture_text_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room_picture {
    width: 535px;
    height: 415px;

}

#small_text_picture {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    opacity: 1;
    
}

#big_text_picture {
    font-family: 'Bentham', serif;
    font-size: 78px;
    color: #FFFFFF;
    font-weight: bolder;
    line-height: 82px;
    text-align: center;
    letter-spacing: -0.78px;
    opacity: 1;
}
/* VESSEL COLOR SECTION CSS */
#vessel_color_section {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}

#vessel_color_container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 70px;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 297px;
    gap: 35px;
}

#vessel_color_section_text {
    font-family: 'Bentham', serif;
    font-weight: bolder;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.button {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-color: #002D33;
    border: 1px solid ;
    border-radius: 6px;
    opacity: 1;
    
    
    
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  .button-text {
    color: #004A4C;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    line-height: 20px;
    opacity: 1;
    letter-spacing: 1.0px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
    border-right: solid 1px;
    border-color: #002D33;
  }
  .button-icon {
    padding: 10px;
  }

#three_picture{
    display: flex;
    position: relative;
    overflow-x: hidden;
}

#white_vessel {
    margin-left: -50px;
}

#black_vessel {
    margin-left: -50px;
}
